<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agendar Folga</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />

    <script>
        async function loadOperadores() {
            console.log("Carregando operadores...");
            const centroCusto = document.getElementById('centroCusto').value;
            if (centroCusto) {
                const response = await fetch(`/funcionarios/operadores/${centroCusto}`);
                const operadores = await response.json();
                const operadoresSelect = document.getElementById('operador');
                operadoresSelect.innerHTML = '';

                operadores.forEach(op => {
                    const option = document.createElement('option');
                    option.value = op.id;
                    option.text = op.nome;
                    operadoresSelect.appendChild(option);
                });

                console.log("Operadores carregados:", operadores);
            } else {
                const operadoresSelect = document.getElementById('operador');
                operadoresSelect.innerHTML = '<option value="">Selecione um operador</option>';
                console.log("Nenhum centro de custo selecionado.");
            }
        }

        function setMinDate() {
            const today = new Date();
            const formattedDate = today.toISOString().split('T')[0];
            document.getElementById('data').setAttribute('min', formattedDate);
            console.log("Data mínima configurada para:", formattedDate);
        }

        async function submitForm(event) {
            event.preventDefault();
            console.log("Iniciando o envio do formulário...");

            const submitButton = event.target.querySelector("button[type='submit']");
            submitButton.disabled = true;
            console.log("Botão de submit desativado.");

            const formData = new FormData(event.target);
            console.log("Dados do formulário:", Object.fromEntries(formData));

            try {
                const response = await fetch(event.target.action, {
                    method: 'POST',
                    body: formData
                });

                const messageElement = document.getElementById('modal-message');
                const modalElement = document.getElementById('modal');

                if (response.ok) {
                    console.log("Folga agendada com sucesso.");
                    messageElement.textContent = "Folga agendada com sucesso.";
                    modalElement.style.display = "block";
                    clearForm();

                    setTimeout(() => {
                        window.location.href = "/funcionarios";
                    }, 2000);
                } else {
                    const errorText = await response.text();
                    console.log("Erro ao agendar folga:", errorText);
                    messageElement.textContent = "Erro ao agendar folga: " + errorText;
                    modalElement.style.display = "block";
                }
            } catch (error) {
                console.error("Erro ao agendar folga:", error.message);
                const messageElement = document.getElementById('modal-message');
                messageElement.textContent = "Erro ao agendar folga: " + error.message;
                document.getElementById('modal').style.display = "block";
            } finally {
                console.log("Reativando o botão de submit.");
                submitButton.disabled = false;
            }
        }

        function closeModal() {
            document.getElementById('modal').style.display = "none";
            console.log("Modal fechado.");
        }

        function clearForm() {
            document.getElementById('centroCusto').selectedIndex = 0;
            document.getElementById('operador').innerHTML = '<option value="">Selecione um operador</option>';
            document.getElementById('data').value = '';
            console.log("Formulário limpo.");
        }

        window.onload = function() {
            setMinDate();
            document.querySelector("form").addEventListener("submit", submitForm);
            console.log("Event listener para submit registrado.");
        };
    </script>
</head>
<body>

<h1>Agendar Folga</h1>

<!-- Botão para redirecionar para o Portal BI -->
<button id="portal-bi-button" onclick="window.location.href='http://localhost:8080/funcionarios/portal-bi'">Inicio</button>

<form action="/funcionarios/agendar-folga" method="post" th:action="@{/funcionarios/agendar-folga}">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

    <label for="centroCusto">Centro de Custo:</label>
    <select id="centroCusto" name="centroCusto" onchange="loadOperadores()">
        <option value="">Selecione um centro de custo</option>
        <option th:each="centro : ${centrosDeCusto}" th:value="${centro}" th:text="${centro}"></option>
    </select>

    <br/>

    <label for="operador">Operador:</label>
    <select id="operador" name="operadorId">
        <option value="">Selecione um operador</option>
    </select>

    <br/>

    <label for="data">Data:</label>
    <input type="date" id="data" name="date" required>

    <br/>

    <button id="Botao" type="submit">Agendar Folga</button>
</form>

<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p id="modal-message"></p>
    </div>
</div>

</body>
</html>
